.imagemLogin {
  background-image: url('https://media.licdn.com/dms/image/D4D22AQFdw0TRjmP_rQ/feedshare-shrink_1280/0/1683548739890?e=1688601600&v=beta&t=zhbgTGWHPVkErxZDcJN1LeP-0Tcgi1ZqSx-2g3vtZDE');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
